.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.box {
  margin: auto;
  margin-top: 10vh;
  width: 30%;
  position: relative;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 0.01px 15px 0 rgba(0, 0, 0, 0.19);  
  text-align: center;
  padding: 2vh 0vh;
}

.wordcount {
  text-align: left;
  text-indent: calc(1vw + 5px);  
  padding-top: 2vh;
}

textarea {
  width: 90%;
  height: 10vh;
  resize: vertical;
  min-height: 5vh;
  border-radius: 5px;
  padding: 5px;
}